.permission {
	&__number {
		width: 150px;
		margin: 0;
	}

	&__slash {
		margin: 0 10px;
	}
}

.table-permission {
    overflow:auto;
    max-height: 80vh;
	font-size: 14px;

    &__head,
    &__col {
		padding: 0 10px;
		max-width: 300px;
		width: auto;
        &:first-child {
			min-width: 100px;
		}
	}

	&__period {
		min-width: 160px;
	}

	&__text {
		min-width: 500px;
	}

	&__person {
		min-width: 300px;
	}

	&__subdivision {
		min-width: 200px;
	}

	&__number {
		min-width: 150px;
	}

	&__date {
		min-width: 100px;
	}

	&__status {
		min-width: 100px;
	}

	&__subname {
		line-height: 120%;
	}

    &__head {
        background: $mainColor;
        padding: 10px 0;
    }

	&__col {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

    &__row {
        input { 
            cursor: pointer;
        }

		&_head {
			position: sticky;
			top: 0;
		}

        &:hover {
            input {
                background: #A9BCF5;
                transition: background-color 1s ease;
            }
        }
    }
}

.filter-content {
	display: none;
	flex-direction: column;

	&__block {
		display: flex;
		width: 60%;
	}

	&__list {
		background: #fff;
		border-radius: 5px;
		margin: 0 0 20px 0;
		width: 100%;
		padding: 20px 100px;
	}

	&__date {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		input {
			outline: none;
			color: $mainColor;
		}
	}

	&__span {
		display: inline-block;
		padding: 10px 0;
		width: 150px;
		font-size: 18px;
	}

	&__buttons {
		display: flex;
		justify-content: end;
		margin: 20px 0;
	}

	&__button {
		width: 200px;
		color: #fff !important;
		margin: 0 0 0 40px;
	}

    &__funcs {
        display: grid;
        grid-template-columns: 200px 1fr repeat(4, 200px);
        grid-gap: 10px;

        @media (max-width: 1400px) {
            grid-template-columns: 200px 1fr repeat(3, 200px);
		}
    }

	&_active {
		display: flex;
	}
}